#blue{
	
	-fx-background-color: linear-gradient(#000244, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#createAccount{
	-fx-background-color:
			linear-gradient(#FF0000, #232323)
			radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
}

#search{
	-fx-background-color:
			linear-gradient(#000000, #000000)
			radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
	
}

#apply{
	
	-fx-background-color: linear-gradient(#1BFF00, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#txtUserName{
	-fx-background-color:
			linear-gradient(#000000, #000000)
			radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
	
}

#txtPass{
	-fx-background-color:
			linear-gradient(#000000, #000000)
			radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);


}
#red2{
	
	-fx-background-color: linear-gradient(#F80B0B, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#green{
	-fx-background-color: linear-gradient(#1BFF00, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#red{
	
	-fx-background-color: linear-gradient(#F80B0B, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	
}

#red2{
	
	-fx-background-color: linear-gradient(#F80B0B, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#add{
	-fx-background-color: linear-gradient(#1BFF00, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}

#delete{
	-fx-background-color: linear-gradient(#F80B0B, #232323);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
}